/* Contenedor principal */
.formulario-datos-container, .login-container, .menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

/* Contenedor del logo */
.logo {
  background-color: #1f4f63;
  width: 5000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  color: #ff0000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 200px;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/* Caja del formulario */
.formulario-datos-box, .form-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
  text-align: center;
  margin-top: 150px;
  z-index: 5;
}

/* Título del formulario */
.formulario-datos-box h2, .form-box h2 {
  margin-bottom: 20px;
  color: #1f4f63;
  font-size: 24px;
}

/* Campos de entrada */
.formulario-datos-input, .login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-bottom: 15px;
}

.formulario-datos-input:focus, .login-input:focus {
  border-color: #1f4f63;
}

/* Botón de establecer datos */
.boton-establecer-datos {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #1f4f63;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  text-align: center;
}

.boton-establecer-datos:hover {
  background-color: #ffa07a;
}

/* Botones del menú */
.menu-buttons, .login-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;
}

.menu-button, .login-button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  background-color: #1f4f63;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  text-align: center;
}

.menu-button.secondary, .login-button.secondary {
  background-color: #ff0000;
}

.menu-button:hover, .login-button:hover {
  background-color: #ffa07a;
}

.menu-button.secondary:hover, .login-button.secondary:hover {
  background-color: #1f4f63;
}
